<p>
  <img src="https://idice.io/front/custom/logo1.png" style="width: 200px;" />
</p>

<blockquote>
  <p>iDice is a decentralized Ethereum casino dice game. It is provably fair. View the contracts page for our source code.</p>
  <footer><a href="https://idice.io" target="_blank">https://idice.io</a></footer>
</blockquote>
